# SPDX-FileCopyrightText: 2022 SAP SE or an SAP affiliate company and Gardener contributors
#
# SPDX-License-Identifier: Apache-2.0
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- controller-registration.yaml

patches:
- path: lakom/skaffold/patch-imagevector-overwrite.yaml
- patch: |
    - op: replace
      path: /providerConfig/values/image
      value: local-skaffold/gardener-extension-shoot-lakom-service
    - op: add
      path: /providerConfig/values/controllers
      value:
          allowUntrustedImages: true
          cosignPublicKeys:
            - |
              -----BEGIN PUBLIC KEY-----
              MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEAKZef+D07q1AyXxf8xw3L23TgDSq
              Scitl0xDpdLGpODUZXG6LbWY3QXS6yhCt0MZH6+Jf5l/8daO7HDRRvbQMg==
              -----END PUBLIC KEY-----
  target:
    group: core.gardener.cloud
    kind: ControllerDeployment
    name: shoot-lakom-service
