# SPDX-FileCopyrightText: 2024 SAP SE or an SAP affiliate company and Gardener contributors
#
# SPDX-License-Identifier: Apache-2.0

image:
  repository: europe-docker.pkg.dev/gardener-project/public/gardener/extensions/shoot-lakom-admission
  tag: latest
  pullPolicy: IfNotPresent
replicaCount: 1
resources: {}
metricsPort: 8080
healthPort: 8081
vpa:
  enabled: true
  resourcePolicy:
    minAllowed:
      memory: 64Mi
    maxAllowed:
      cpu: 2
      memory: 2Gi
  updatePolicy:
    updateMode: "Auto"
webhookConfig:
  serverPort: 10250
# Kubeconfig to the target cluster. In-cluster configuration will be used if not specified.
kubeconfig:
# projectedKubeconfig:
#   baseMountPath: /var/run/secrets/gardener.cloud
#   genericKubeconfigSecretName: generic-token-kubeconfig
#   tokenSecretName: access-shoot-lakom-admission
service:
  topologyAwareRouting:
    enabled: false

gardener:
  virtualCluster:
    enabled: true
    serviceAccount: {}
#     name: gardener-extension-shoot-lakom-admission
#     namespace: kube-system
  runtimeCluster: {}
#   priorityClassName: gardener-garden-system-400