# SPDX-FileCopyrightText: 2022 SAP SE or an SAP affiliate company and Gardener contributors
#
# SPDX-License-Identifier: Apache-2.0
{{- if not .Values.kubeconfig }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ .Values.name }}
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: {{ .Values.name }}
    app.kubernetes.io/instance: {{ .Release.Name }}
{{- if semverCompare ">= 1.20-0" .Capabilities.KubeVersion.GitVersion }}
automountServiceAccountToken: false
{{- end }}
{{- end }}
