# SPDX-FileCopyrightText: 2022 SAP SE or an SAP affiliate company and Gardener contributors
#
# SPDX-License-Identifier: Apache-2.0

serviceName: shoot-lakom-service
replicaCount: 3

image:
  repository: europe-docker.pkg.dev/gardener-project/public/gardener/extensions/shoot-lakom-service
  tag: latest
  pullPolicy: IfNotPresent

imageVectorOverwrite: {}
  # images:
  #   - name: lakom
  #     repository: foo.bar/gardener/extensions/lakom
  #     tag: v1.2.3
ignoreResources: false

resources:
  requests:
    cpu: 50m
    memory: 128Mi
vpa:
  enabled: true
  resourcePolicy:
    minAllowed:
      memory: 64Mi
  updatePolicy:
    updateMode: "Recreate"

controllers:
  ignoreOperationAnnotation: false
  lifecycle:
    concurrentSyncs: 20
  healthcheck:
    concurrentSyncs: 20
  heartbeat:
    renewIntervalSeconds: 30
  cosignPublicKeys: {}
    # publicKeys:
    # - name: key1
    #   algorithm: RSASSA-PKCS1-v1_5-SHA256
    #   key: |-
    #     -----BEGIN PUBLIC KEY-----
    #     1234
    #     -----END PUBLIC KEY-----
    # - name: key2
    #   algorithm: RSASSA-PKCS1-v1_5-SHA256
    #   key: |-
    #     -----BEGIN PUBLIC KEY-----
    #     abcd
    #     -----END PUBLIC KEY-----
  healthPort: 8080
  metricsPort: 8081
  useOnlyImagePullSecrets: false
  allowUntrustedImages: false
  allowInsecureRegistries: false
  debugConfig:
    enableProfiling: false
    enableContentionProfiling: false

# gardener values are set by gardenlet when the controllerinstallation is deployed.
gardener:
  seed:
    spec:
      settings:
        topologyAwareRouting:
          enabled: false