# SPDX-FileCopyrightText: 2022 SAP SE or an SAP affiliate company and Gardener contributors
#
# SPDX-License-Identifier: Apache-2.0

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: extension-shoot-lakom-service.config
  namespace: {{ .Release.Namespace }}
data:
  config.yaml: |
    apiVersion: lakom.extensions.config.gardener.cloud/v1alpha1
    kind: Configuration
    cosignPublicKeys:
{{ toYaml .Values.controllers.cosignPublicKeys | indent 6 }}
    seedBootstrap:
      ownerNamespace: {{ .Release.Namespace }}
      enabled: true
    useOnlyImagePullSecrets: {{ .Values.controllers.useOnlyImagePullSecrets }}
    allowUntrustedImages: {{ .Values.controllers.allowUntrustedImages }}
    allowInsecureRegistries: {{ .Values.controllers.allowInsecureRegistries }}
    debugConfig:
      enableProfiling: {{ .Values.controllers.debugConfig.enableProfiling | default false }}
      enableContentionProfiling: {{ .Values.controllers.debugConfig.enableContentionProfiling | default false }}
